* {
  box-sizing: border-box;
}
body {
  background-color: rgb(47, 47, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-size: 1.6em;
}
.clockface {
  display: flex;
  align-items: center;
  justify-content: center;
}

.case {
  position: absolute;
  width: 350px;
  height: 350px;
  background: rgb(1, 89, 138);
  background: radial-gradient(
    circle,
    rgba(1, 89, 138, 1) 65%,
    rgba(223, 223, 223, 1) 100%
  );
  border-radius: 50%;
  z-index: 1;
}

.button {
  cursor: grab;
  position: absolute;
  margin-left: 40px;
  width: 350px;
  height: 50px;
  background: rgb(1, 89, 138);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 0;
}
.clock {
  width: 300px;
  height: 300px;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  border: 2px solid rgb(33, 18, 90);
  position: relative;
  z-index: 2;
}

.clock .number {
  padding: 5px;
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}
.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand.hour {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 37%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  transform-origin: bottom;
  z-index: 10;
}

.clock .hand.minute {
  --rotation: 96;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 6px;
  height: 34%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgb(0, 0, 0);
  transform-origin: bottom;
  z-index: 11;
}

.clock .hand.seconds {
  --rotation: 30;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 3px;
  height: 35%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: red;
  transform-origin: bottom;
  z-index: 11;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: brown;
  z-index: 200;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  text-decoration: underline;
}

.day {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(day.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.days::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgb(105, 105, 105);
  z-index: 10001110;
  transform: translate(-30%, -50%);
}
.clock .hand.days {
  --rotation: 00;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 6px;
  height: 27%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgb(105, 105, 105);
  transform-origin: bottom;
  z-index: 11;
}

.timer {
  position: absolute;
  color: rgb(0, 35, 54);
  top: 53%;
  left: 37%;
  width: 75px;
  height: 75px;
  font-size: 8px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.handtimer {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 2px;
  height: 25%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(1, 89, 138);
  transform-origin: bottom;
  z-index: 11;
}

.wrapper__main {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.date {
  position: absolute;
  background-color: azure;
  bottom: 135px;
  right: 80px;
  border: 1px solid black;
  padding: 0px 5px;
  font-size: 0.8em;
  z-index: 3;
}

.minute-timer {
  position: absolute;
  color: rgb(0, 35, 54);
  top: 45%;
  left: 25%;
  width: 75px;
  height: 75px;
  font-size: 8px;
  transform: rotate(-160deg);
}
.hand-minute-timer {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 2px;
  height: 25%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(1, 89, 138);
  transform-origin: bottom;
  z-index: 11;
}

/*popup styling */
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-align: center;
}
.popup::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}
.position1 {
  padding: 20px;
  position: absolute;
  margin: 100px 0;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  z-index: 500;
  margin-left: 380px;
}
.position2 {
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  z-index: 500;
  margin-left: 190px;
  margin-top: 150px;
}
.position3 {
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  z-index: 500;
  margin-left: 130px;
  margin-top: 120px;
}
.position4 {
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  z-index: 500;
  margin-left: 230px;
  margin-top: 100px;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
  position: absolute;
  right: 20px;
  font-size: 1em;
}
